# IDE files
.idea/
.vscode/
*.swp

# OS files
.DS_Store

# Secrets and credentials
*.pem
*.key
*.pfx
*.p12
*.crt
*.cer
*.der
*.priv
*.env
*secret*
*password*
*credential*
kubeconfig
.kube/
*.tfvars
terraform.tfstate*
.terraform/ 
id_rsa
id_rsa.pub
nap/arm/cmd.txt
nap/arm/cluster_p.json
nap/arm/cluster.json
